body {
  margin:0px;
}

.audioblast-flash {
  height: 37px;
  float: left;
  padding-right: 3px;
}

#title {
  background-color:#888;
  width:100%;
  overflow:hidden;
  margin-bottom:3px;
}

#title h1 {
  margin:0px;
}

#menu {
  background-color:#D6D6D6;
  width:100%;
  padding:3px;
}

.search-table {
  height:300px !important;
}

.module {
  background: #888;
  padding: 5px;
  margin: 10px;
}

.ulhoriz {
  padding: 5px;
  margin:0px;
}

.ulhoriz li {
  display: inline;
  padding:3px;
  border-radius:5px;
  margin-right: 10px;
  background-color:#888;
}

.stripe {
  border-collapse:collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stripe tbody tr:nth-child(even) {
  background: #AAA;
}

.stripe tbody tr:nth-child(odd) {
  background: #DDD;
}

.tdcent {
  text-align: center;
}
